{% extends "dynamic.html" %} {% block content %}
<style>
  .frosty {
    margin: 10px;
    padding: 10px;
  }
  button {
    align-content: center;
  }
</style>
<div class="frosty">
  <form action="/peri/semicircleres" method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input
        autofocus
        value="{{val1semi}}"
        name="radius"
        step="any"
        type="number"
        class="form-control"
        id="floatingInput"
        placeholder="123 ..."
        required
      />
      <label for="floatingInput">Enter Radius</label>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mt-2 mb-3">Calculate</button>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary mb-3" href="/peri/semicircle" role="button"
        >Reset</a
      >
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Answer"
        value="{{ressemi}}"
        disabled
      />
      <label for="floatingPassword">Perimeter of the semi-circle is :</label>
    </div>
  </form>
</div>
{% endblock %}
